.featured {
  height: 90vh;
  background-color: #fefefe;
  color: #000;
}

.featured_top {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured_top h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 100;
  color: #000;
}

.featured_top h1::before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #000;
}

.featured_top h1::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #000;
}

.featured_bottom {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.featured_bottom_row {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .featured {
    height: fit-content;
    padding: 20px 0;
  }

  .featured_bottom {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .featured_bottom_row {
    width: 80%;
    margin: auto;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }
}
